body {
    font-size: 12px;
}
#logo span.version {
    padding-left: 3px;
    color: #666;
    font-size: 12px;
}

.icon-btn {
    background-color: #fff;
    border: 2px solid #f7931e;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
nav .nav-link {
    color: #fff;
}

#contentMangement .nav-link {
    background-color: #009688;
    color: #fff !important;
    border-radius: 0 !important;
    margin: auto 1px;
}
#contentMangement .nav-item .active {
    /* background-color: var(--bs-nav-link-hover-color); */
    background: #f7931e !important;
}
.pageheading {
    font-size: 1.5rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    background-color: #f7931e;
    color: #fff;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.dropdown-item {
    font-size: 12px;
    border-bottom: 1px solid #ccc;
}
.dropdown-item:nth-child(1) {
    border-top: 1px solid #ccc;
  }
.dropdown a:hover {
    background-color: #f7931e;
    color: #fff;
}

#mainArea {
    padding: 100px 0 170px 0;
}
.form-select {
    font-size: 12px;
}
.contentTable tr th {
    font-size: 12px;
}
.contentTable tr td {
    font-size: 11px;
}
.info {
    font-size: 16px;
}
.iconpos {
    margin-top: -4px;
}


/* Custom Styling for Bootstrap Table */
.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #2196f329 !important; /* Light gray background for odd rows */
  color: #333; /* Dark text for readability */
}

.table-striped tbody tr:nth-child(even) {
  background-color: #ffffff !important; /* White background for even rows */
  color: #000;
}
/* Hover Effect */
.table-striped > tbody > tr:hover > * {
    background-color: #1976d2 !important; /* Blue hover effect */
    color: white !important; /* White text on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }


/* Border and Padding Enhancements */
.table {
  border: 1px solid #dee2e6; /* Light border */
}



/* Front login */
.login-card {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url(../images/login_bg.jpg);
    background-position: center;
    padding: 30px 12px;
}

.login-card .login-main {
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 37px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    background-color: var(--bs-body-bg);
}